<launch>
    <!-- 加载任务参数，FSM 会通过 rospy.get_param("/mission") 读取 -->
    <rosparam file="$(find uav_inventory)/config/requirement1_mission.yaml"
              command="load" />

    <!-- 将 FSM 的 /uav/cmd_vel 转发到 MAVROS 速度控制话题 -->
    <node pkg="uav_inventory"
          type="mavros_sitl_bridge.py"
          name="mavros_sitl_bridge"
          output="screen">
        <param name="cmd_topic" value="/uav/cmd_vel" />
        <param name="mavros_vel_topic" value="/mavros/setpoint_velocity/cmd_vel_unstamped" />
        <param name="rate_hz" value="30.0" />
        <param name="cmd_timeout" value="0.5" />
    </node>

    <!-- 假二维码节点，用于第一阶段不接真实相机时测试 FSM -->
    <node pkg="uav_inventory"
          type="sim_fake_qr_node.py"
          name="sim_fake_qr_node"
          output="screen">
        <param name="laser_u" value="320.0" />
        <param name="laser_v" value="240.0" />
    </node>

    <!-- 要求一 FSM 主状态机 -->
   <node pkg="uav_inventory"
         type="requirement1_fsm_node.py"
         name="requirement1_fsm_node"
         output="screen">
      <param name="odom_topic" value="/mavros/local_position/odom" />
      <param name="cmd_vel_topic" value="/uav/cmd_vel" />
   </node>
   <!-- ground-bridge -->
   <node pkg="uav_inventory"
      type="ground_udp_bridge_node.py"
      name="ground_udp_bridge_node"
      output="screen">
    <param name="local_ip" value="0.0.0.0" />
    <param name="local_port" value="8889" />

    <param name="ground_ip" value="192.168.1.20" />
    <param name="ground_port" value="8888" />

    <param name="heartbeat_interval" value="2.0" />
   </node>
</launch>